# Dependencies
node_modules/

# Build outputs
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

#turbo
.turbo/